body
{
background: url(a1.png);

 background-position: center;



}
.container
{
	text-align: center;
	margin-top: 130px;
	color: white;
}
h1
{
	font-size: 40px;
	font-weight: 30px;
}
.form-check-inline
{
	text-align: center;
}